Name = {{ item.hostname | default(ansible_facts.hostname) | replace('-', '_') }}
BindToAddress = * {{ item.port }}
Interface = {{ item.name }}
{% if item.broadcast is defined %}
BroadcastSubnet = {{ item.broadcast }}
{% endif %}
{% if item.connect_to is defined %}
{% for host in item.connect_to %}
ConnectTo = {{ host }}
{% endfor %}
{% endif %}
Mode = {{ item.mode | default('router') }}
