#!/bin/sh

{% if item.ipv6 is defined %}
ip address add {{ item.ipv6 }} dev $INTERFACE
{% endif %}
{% if item.ipv4 is defined %}
ip address add {{ item.ipv4 }} dev $INTERFACE
{% endif %}
ip link set up dev $INTERFACE
